{% extends 'base.html.twig' %}

{% block meta_refresh %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container center">

            <div style="margin-top: 8px;">&nbsp;</div>

            <img src="{{ asset('build/assets/images/technology-6701504_640.jpg') }}" class="logo-img center">

            <div class="center">

                <div class="card text-center">
                    <div class="card-header">
                        Methods of operation
                    </div>
                    <div class="card-body" style="height: 170px">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-tab-pane" type="button" role="tab"
                                        aria-controls="home-tab-pane"
                                        aria-selected="true">Display result type
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="false">API end point
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                 aria-labelledby="home-tab"
                                 tabindex="0">
                                <span class="tab-text-info">
                                    Displaying the results here, on the page, along with the presentation of the
                                    table in the form of JSON. If the http or https prefix is not specified in the
                                    address, it will be done automatically.
                                </span>
                                <form action="{{ path('analyze') }}" method="get" class="form-pos">
                                    <div class="input-group mb-1" style="width: 30%;position: fixed;float: left">
                                        <input type="text" name="url" class="form-control search-input"
                                               placeholder="type URL here"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fas fa-search"></i> Analyze
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                 aria-labelledby="profile-tab"
                                 tabindex="0">
                                <span class="tab-text-info">
                                    A method where the result is returned in the form of JSON after parsing.
                                    One of the proposed checks is by POSTMAN.
                                    URL address to call:
                                    <br>
                                    <b>https://pagio.iwebi.pl/analyzeAPI?url=here url for analysis</b>
                                </span>

{#                                <form action="{{ path('analyzeAPI') }}" method="get" class="form-pos">#}
{#                                    <div class="input-group mb-1" style="width: 30%;position: fixed;float: left">#}
{#                                        <input type="text" name="url" class="form-control search-input"#}
{#                                               placeholder="type URL here"#}
{#                                        >#}
{#                                        <div class="input-group-append">#}
{#                                            <button class="btn btn-primary" type="submit">#}
{#                                                <i class="fas fa-search"></i> Analyze#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        Select a tab and act.
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .imgmain {
            margin-top: 64px;
            display: block;
        }

        .tab-text-info {
            padding-top: 16px;
            padding-left: 16px;
            padding-bottom: 16px;
            color: lightslategrey;
            text-align: left;
            font-size: small;
        }

        .form-pos {
            margin-top: 20px;
            alignment: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

